<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>往期活动信息</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="玫瑰花开网" />
  <meta name="description" content="玫瑰花开网,玫瑰花开网,玫瑰花开网,玫瑰花开网,玫瑰花开网,婚恋网" />
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="/i/favicon.png">
  <link rel="stylesheet" href="./css/amazeui.min.css"/>
  <link rel="stylesheet" href="./css/hd.css"/>

</head>
<body>
<div id="head_id">
  <div id="top">
    
  </div>
  <div id="head">
    <div id="logo">
      <img src="./images/logo.png" alt="" >
    </div>
    <div id="guanggao">
      <img src="./images/guanggao.jpg" alt="">
    </div>
    <div id="show_num">
      <div class="am-u-sm-3" id="nav_show_num">
       
      </div>
    </div>
    <div id="login_new">
      <div id="more_login">
      
      </div>
    </div>
  </div>


</div>
<!-- 导航栏 -->
<div id="nav">
  <div class="nav_content">
      <div class="nav_list">
          <ul>
            <li><a href="./index.html" class="nav_list_active">首页</a></li>
            <li><a href="./member.html">会员专区</a></li>
            <li><a href="./search.html">高级搜索</a></li>
            <li><a href="./bottom.html">关于我们</a></li>
          </ul>
      </div>
      <div class="nav_user_msg">
        <ul>
          <li><a href="./home.html" class="right_xian">会员中心</a></li>
          <li><a href="#"  class="right_xian">张富贵</a></li>
          <li><a href="#">退出帐号</a></li>
        </ul>
        
      </div>
  </div>
 </div>
<!-- 导航栏 -->
<div class="content">
  <div class="content_w_title">
    <h2><span>往期活动展</span></h2>
  </div>
</div>
<div class="content">
    <div class="content_w">
      <!-- 左部分文章 -->
      <div class="content_zuo">
        <ul class="am-list am-list-border wz_border">

          <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li>

          <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt2.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li>

          <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt3.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li> 
          <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt4.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li>
           <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt5.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li> 
          <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt6.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li>    
          <li>
            <div class="content_title"><h3><span>【20150721期】山盟海誓娣久天长</span></h3></div>
            <div class="content_ms">
                <div class="content_ms_left">
                   <img src="./images/mgslt7.jpg" alt="">
                </div>
                <div class="content_ms_right">
                  <span>
                    她的人生中好像必修的功课就是相亲,通过交友网、朋友介绍、参加相亲活动等方式,四处寻觅“意中人”。相亲车轮战让她疲惫,但她希望能碰到有感觉的人。单膝跪在心爱的她面前,需要勇敢的说出自己内心深处的话语。求婚,在女孩子看来,求婚词,求婚创意,求婚戒指都是次要的,她最渴望的是男士真诚的求婚,这也是最能.
                  </span>
                </div>
                <div class="yd_btn">
                  <button>阅读全文</button>
                </div>
            </div>
          </li>                   
        </ul>
       <ul class="am-pagination am-pagination-centered">
          <li class="am-disabled"><a href="#">&laquo;</a></li>
          <li class="am-active"><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>
      </div>
      <!-- 左部分文章 end -->

      <!-- 广告位 -->
      <div class="content_you">
         <div class="gg_tu">
          <img src="./images/gg_tu_4.png" alt="">
        </div>
        <div class="gg_tu">
          <img src="./images/gg_tu_1.jpg" alt="">
        </div>
       
         <div class="gg_tu">
          <img src="./images/gg_tu_3.png" alt="">
        </div>
      </div>
       <!-- 广告位 end-->
    </div>
</div>



<div id="footer_id">
  <div class="footer">
    <div class="footer_list">
        <ul>
          <li><a href="./bottom.html">客服中心</a></li>
          <li><a href="./bottom.html">关于我们</a></li>
          <li><a href="./bottom.html">相亲通道</a></li>
          <li><a href="./bottom.html">注册条款</a></li>
          <li><a href="./bottom.html">交友信息</a></li>
          <li><a href="./bottom.html">隐私保护</a></li>
          <li><a href="./bottom.html">帮助中心</a></li>
          <li><a href="./bottom.html">安全中心</a></li>
        </ul>
    </div>
    <div class="footer_list">
      <span>©  2015-2018 版权所有 备案号：110108882124号  不良和违法信息举报专线：0000-8888888</span>
    </div>
    
  </div>

</div>

         
<!--[if lt IE 9]>

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="./js/jquery.min.js"></script>
<!--<![endif]-->
<script src="./js/amazeui.min.js"></script>
</body>
</html>
