<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>我的会员中心-玫瑰花开网</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="玫瑰花开网" />
  <meta name="description" content="玫瑰花开网,玫瑰花开网,玫瑰花开网,玫瑰花开网,玫瑰花开网,婚恋网" />
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="/i/favicon.png">
  <link rel="stylesheet" href="./css/amazeui.min.css"/>
  <link rel="stylesheet" href="./css/index.css"/>

</head>
<body>
<div id="head_id">
  <div id="top">
    
  </div>
  <div id="head">
    <div id="logo">
      <img src="./images/logo.png" alt="" >
    </div>
    <div id="guanggao">
      <img src="./images/guanggao.jpg" alt="">
    </div>
    <div id="show_num">
      <div class="am-u-sm-3" id="nav_show_num">
       
      </div>
    </div>
    <div id="login_new_home">
      <div id="more_login_home">
       
      </div>
    </div>
  </div>

  
</div>
<!-- 导航栏 -->
<div id="nav">
  <div class="nav_content">
      <div class="nav_list">
          <ul>
            <li><a href="./index.html" class="nav_list_active">首页</a></li>
            <li><a href="./member.html">会员专区</a></li>
            <li><a href="./search.html">高级搜索</a></li>
            <li><a href="./bottom.html">关于我们</a></li>
          </ul>
      </div>
      <div class="nav_user_msg">
        <ul>
          <li><a href="./home.html" class="right_xian">会员中心</a></li>
          <li><a href="#"  class="right_xian">张富贵</a></li>
          <li><a href="#">退出帐号</a></li>
        </ul>
        
      </div>
  </div>
 </div>
<!-- 导航栏 -->

<div class="home_content">
  <div class="home_content_v">
    <!-- 左边部分 -->
    <div class="home_content_v_left">
      <div class="side-1">
        <div class="side-1-img">
           <a href="./headImage.html"> <img  class="am-img-thumbnail am-circle" src="./images/home_girl.jpg" width="140" height="140"/></a>
        </div>
      </div>
      <div class="side-2" id="caidan">
          <ul class="am-list am-list-border">
            <li><a href="./home.html"><i class="am-icon-envelope"></i>基本信息</a></li>
            <li><a href="./userDetail.html"> <i class="am-icon-tasks"></i>详细资料</a></li>
            <li><a href="./note.html"><i class="am-icon-comment-o"></i>自我介绍</a></li>
            <li><a href="./zheou.html"><i class="am-icon-heart"></i>择偶条件</a></li>
            <li><a href="./userImages.html"><i class="am-icon-photo"></i>我的相册</a></li>
          </ul>
      </div>
    </div>
    <!-- 左边部分 end-->
   
    <!-- 右边部分 -->
    <div class="home_content_v_right">
      <!-- 修改头像 -->
     <form class="am-form">
      <div class="am-panel am-panel-default">
        <header class="am-panel-hd">
          <h3 class="am-panel-title">修改头像</h3>
        </header>
        <div class="am-panel-bd">
            <table class="am-table am-table-striped am-table-hover ">
                  <tr>
                    <td >当前头像</td>
                    <td ><img src="./images/home_girl.jpg" alt=""></td>
                    <td >
                      <button type="button" class="am-btn am-btn-danger dy_btn_color" >上传头像</button>   
                    </td>
                  </tr>  
                  <tr>
                    <td colspan="3">
                     <img src="" alt="">
                    </td>
                  </tr>
                   <td colspan="3">温馨提示：<br/>
                    1、上传新头像，需要审核后才会显示，请认真检查。<br/>
                    2、头像中请勿出现QQ、MSN、电话号码以及网址、广告、色情或其他不健康的内容。
                   </td>
                  </tr>
            </table>
        </div>
        </form>
      </div>
      <!-- 修改头像 end-->
    </div>
    <!-- 右边部分 end-->
  </div>
</div>


<div id="footer_id">
  <div class="footer">
    <div class="footer_list">
        <ul>
          <li><a href="./bottom.html">客服中心</a></li>
          <li><a href="./bottom.html">关于我们</a></li>
          <li><a href="./bottom.html">相亲通道</a></li>
          <li><a href="./bottom.html">注册条款</a></li>
          <li><a href="./bottom.html">交友信息</a></li>
          <li><a href="./bottom.html">隐私保护</a></li>
          <li><a href="./bottom.html">帮助中心</a></li>
          <li><a href="./bottom.html">安全中心</a></li>
        </ul>
    </div>
    <div class="footer_list">
      <span>©  2015-2018 版权所有 备案号：110108882124号  不良和违法信息举报专线：0000-8888888</span>
    </div>
    
  </div>

</div>

         
<!--[if lt IE 9]>

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="./js/jquery.min.js"></script>
<!--<![endif]-->
<script src="./js/amazeui.min.js"></script>
</body>
</html>
