<!DOCTYPE html>
<html>
<head lang="en">
  <meta charset="UTF-8">
  <title>我的会员中心-玫瑰花开网</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport"
        content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <meta name="renderer" content="webkit">
  <meta name="keywords" content="玫瑰花开网" />
  <meta name="description" content="玫瑰花开网,玫瑰花开网,玫瑰花开网,玫瑰花开网,玫瑰花开网,婚恋网" />
  <meta http-equiv="Cache-Control" content="no-siteapp"/>
  <link rel="alternate icon" type="image/png" href="/i/favicon.png">
  <link rel="stylesheet" href="./css/amazeui.min.css"/>
  <link rel="stylesheet" href="./css/index.css"/>

</head>
<body>
<div id="head_id">
  <div id="top">
    
  </div>
  <div id="head">
    <div id="logo">
      <img src="./images/logo.png" alt="" >
    </div>
    <div id="guanggao">
      <img src="./images/guanggao.jpg" alt="">
    </div>
    <div id="show_num">
      <div class="am-u-sm-3" id="nav_show_num">
       
      </div>
    </div>
    <div id="login_new_home">
      <div id="more_login_home">
       
      </div>
    </div>
  </div>

  
</div>
<!-- 导航栏 -->
<div id="nav">
  <div class="nav_content">
      <div class="nav_list">
          <ul>
            <li><a href="./index.html" class="nav_list_active">首页</a></li>
            <li><a href="./member.html">会员专区</a></li>
            <li><a href="./search.html">高级搜索</a></li>
            <li><a href="./bottom.html">关于我们</a></li>
          </ul>
      </div>
      <div class="nav_user_msg">
        <ul>
          <li><a href="./home.html" class="right_xian">会员中心</a></li>
          <li><a href="#"  class="right_xian">张富贵</a></li>
          <li><a href="#">退出帐号</a></li>
        </ul>
        
      </div>
  </div>
 </div>
<!-- 导航栏 -->

<div class="home_content">
  <div class="home_content_v">
    <!-- 左边部分 -->
    <div class="home_content_v_left">
      <div class="side-1">
        <div class="side-1-img">
           <a href="./headImage.html"> <img  class="am-img-thumbnail am-circle" src="./images/home_girl.jpg" width="140" height="140"/></a>
        </div>
      </div>
      <div class="side-2" id="caidan">
          <ul class="am-list am-list-border">
            <li><a href="./home.html"><i class="am-icon-envelope"></i>基本信息</a></li>
            <li><a href="./userDetail.html"> <i class="am-icon-tasks"></i>详细资料</a></li>
            <li><a href="./note.html"><i class="am-icon-comment-o"></i>自我介绍</a></li>
            <li><a href="./zheou.html"><i class="am-icon-heart"></i>择偶条件</a></li>
            <li><a href="./userImages.html"><i class="am-icon-photo"></i>我的相册</a></li>
          </ul>
      </div>
    </div>
    <!-- 左边部分 end-->
   
    <!-- 右边部分 -->
    <div class="home_content_v_right">
      <!-- 基本信息 -->
     <form class="am-form">
      <div class="am-panel am-panel-default">
        <header class="am-panel-hd">
          <h3 class="am-panel-title">基本信息</h3>
        </header>
        <div class="am-panel-bd">

            <table class="am-table am-table-striped am-table-hover ">
                  <tr>
                    <td>昵称：</td>
                    <td><input type="text"></td>
                    <td>此项需要审核!</td>
                  </tr>
                  <tr>
                    <td>性别：</td>
                    <td>男</td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>出生日期：</td>
                    <td>1989年12月12日</td>
                    <td>可联系管理员修改</td>
                  </tr>
                  <tr>
                    <td>身高：</td>
                    <td>
                          <select id="doc-select-1">
                            <option value="130">130</option>
                            <option value="131">131</option>
                            <option value="132">132</option>
                            <option value="133">133</option>
                            <option value="134">134</option>
                            <option value="135">135</option>
                            <option value="136">136</option>
                            <option value="137">137</option>
                            <option value="138">138</option>
                            <option value="139">139</option>
                            <option value="140">140</option>
                            <option value="141">141</option>
                            <option value="142">142</option>
                            <option value="143">143</option>
                            <option value="144">144</option>
                            <option value="145">145</option>
                            <option value="146">146</option>
                            <option value="147">147</option>
                            <option value="148">148</option>
                            <option value="149">149</option>
                            <option value="150">150</option>
                            <option value="151">151</option>
                            <option value="152">152</option>
                            <option value="153">153</option>
                            <option value="154">154</option>
                            <option value="155">155</option>
                            <option value="156">156</option>
                            <option value="157">157</option>
                            <option value="158">158</option>
                            <option value="159">159</option>
                            <option value="160">160</option>
                            <option value="161">161</option>
                            <option value="162">162</option>
                            <option value="163">163</option>
                            <option value="164">164</option>
                            <option value="165">165</option>
                            <option value="166">166</option>
                            <option value="167">167</option>
                            <option value="168">168</option>
                            <option value="169">169</option>
                            <option value="170">170</option>
                            <option value="171">171</option>
                            <option value="172">172</option>
                            <option value="173">173</option>
                            <option value="174">174</option>
                            <option value="175">175</option>
                            <option value="176">176</option>
                            <option value="177">177</option>
                            <option value="178">178</option>
                            <option value="179">179</option>
                            <option value="180">180</option>
                            <option value="181">181</option>
                            <option value="182">182</option>
                            <option value="183">183</option>
                            <option value="184">184</option>
                            <option value="185">185</option>
                            <option value="186">186</option>
                            <option value="187">187</option>
                            <option value="188">188</option>
                            <option value="189">189</option>
                            <option value="190">190</option>
                            <option value="191">191</option>
                            <option value="192">192</option>
                            <option value="193">193</option>
                            <option value="194">194</option>
                            <option value="195">195</option>
                            <option value="196">196</option>
                            <option value="197">197</option>
                            <option value="198">198</option>
                            <option value="199">199</option>
                            <option value="200">200</option>
                            <option value="201">201</option>
                            <option value="202">202</option>
                            <option value="203">203</option>
                            <option value="204">204</option>
                            <option value="205">205</option>
                            <option value="206">206</option>
                            <option value="207">207</option>
                            <option value="208">208</option>
                            <option value="209">209</option>
                            <option value="210">210</option>
                            <option value="211">211</option>
                            <option value="212">212</option>
                            <option value="213">213</option>
                            <option value="214">214</option>
                            <option value="215">215</option>
                            <option value="216">216</option>
                            <option value="217">217</option>
                            <option value="218">218</option>
                            <option value="219">219</option>
                            <option value="220">220</option>
                            <option value="221">221</option>
                            <option value="222">222</option>
                            <option value="223">223</option>
                            <option value="224">224</option>
                            <option value="225">225</option>
                            <option value="226">226</option>
                          </select></td>
                    <td><span style="margin-left:10px;">厘米</span> </td>
                  </tr>
                  <tr>
                    <td>学历：</td>
                    <td>
                        <select name="" id="">
                          <option value="1">硕士</option>
                          <option value="2">博士</option>
                          <option value="3">本科</option>
                          <option value="4">大专</option>
                          <option value="5">高中</option>
                          <option value="6">初中</option>
                        </select>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>婚姻状况：</td>
                    <td>
                        <select name="" id="">
                          <option value="1">未婚</option>
                          <option value="2">离异</option>
                          <option value="3">丧偶</option>
                        </select>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td>月薪：</td>
                    <td>
                        <select name="" id="">
                          <option value="1">2000元以下</option>
                          <option value="2">2000元～5000元</option>
                          <option value="3">5000元～10000元</option>
                          <option value="4">10000元～2000元</option>
                          <option value="5">20000元～50000元</option>
                          <option value="6">50000元以上</option>
                        </select>
                    </td>
                    <td></td>
                  </tr>
                  <tr>
                    <td></td>
                    <td>
                     <button type="button" class="am-btn am-btn-danger dy_btn_color" >保存信息</button>   
                    </td>
                    <td></td>
                  </tr>
            </table>
        </div>
        </form>
      </div>
      <!-- 基本信息 end-->
    </div>
    <!-- 右边部分 end-->
  </div>
</div>


<div id="footer_id">
  <div class="footer">
    <div class="footer_list">
        <ul>
          <li><a href="./bottom.html">客服中心</a></li>
          <li><a href="./bottom.html">关于我们</a></li>
          <li><a href="./bottom.html">相亲通道</a></li>
          <li><a href="./bottom.html">注册条款</a></li>
          <li><a href="./bottom.html">交友信息</a></li>
          <li><a href="./bottom.html">隐私保护</a></li>
          <li><a href="./bottom.html">帮助中心</a></li>
          <li><a href="./bottom.html">安全中心</a></li>
        </ul>
    </div>
    <div class="footer_list">
      <span>©  2015-2018 版权所有 备案号：110108882124号  不良和违法信息举报专线：0000-8888888</span>
    </div>
    
  </div>

</div>

         
<!--[if lt IE 9]>

<script src="http://libs.baidu.com/jquery/1.11.1/jquery.min.js"></script>
<script src="http://cdn.staticfile.org/modernizr/2.8.3/modernizr.js"></script>
<script src="assets/js/amazeui.ie8polyfill.min.js"></script>
<![endif]-->

<!--[if (gte IE 9)|!(IE)]><!-->
<script src="./js/jquery.min.js"></script>
<!--<![endif]-->
<script src="./js/amazeui.min.js"></script>
</body>
</html>
