/*会员信息第一部分*/
.wap_vip {
    height: auto;
    width: 100%;
    min-width: 1280px;
    background-color: #fff;
    position: relative;
    float: left;
    padding-top: 10px;
}

.wap_vip_m {
    width: 1280px;
    margin: 0px auto;
    height: auto;
}

/*左边*/
.wap_vip_left {
    width: 950px;
    float: left;
    height: auto;
}

.wap_vip_left_img {
    width: 300px;
    height: auto;
    float: left;
    border: 1px solid #ddd;
}

.wap_vip_left_msg {
    width: 620px;
    height: 400px;
    float: left;
    margin-left: 30px;
    border: 1px solid #ddd;
}

.am-modal-bd {
    text-align: left;
}

.am-table {
    color: #999
}

.msg_font_color {
    color: #222
}

.vip_lou1 {
    height: 418px;
}

.am-table > tbody > tr > td {
    border: none;
}

.vip_lou2 {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.vip_lou3 {
    border: 1px solid #ddd;
    margin-bottom: 20px;
}

.am-panel {
    border: none;
    box-shadow: none;
}

.ziwojieshao {
    width: 100%
}

.jiaoyoutishi {
    padding: 20px;
}

.jiaoyoutishi_svip td {
    height: 50px;
}

.jiaoyoutishi_svip .am-panel-bd {
    padding: 20px;
}

/*右边*/

.wap_vip_right {
    width: 300px;
    float: right;
    height: 500px;
    border: 1px solid #ddd;
}

/*第二部分*/
.wap_title_m {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #FD7599
}

.wap_title_m span {
    color: #fff;
    margin-left: 10px;
}

.wap_title_m_c {
    padding: 10px 10px 50px 10px;
}

.wap_title_m_c_msg {
    float: left;
    width: 250px;
    height: 35px;
    line-height: 35px;
}

#bao_num {
    color: red;
    font-size: 18px;
}

.v_msg button {
    margin-left: 20px;
}

/*高端会员*/
.wap_svip {
    height: auto;
    width: 100%;
    min-width: 1280px;
    background-color: #fff;
    position: relative;
    float: left;
    padding-top: 10px;
}

.wap_svip_m {
    width: 1280px;
    margin: 0px auto;
    height: auto;
}

.wap_title_m_svip {
    width: 100%;
    height: 35px;
    line-height: 35px;
    background-color: #F79E59
}

.wap_title_m_svip span {
    color: #fff;
    margin-left: 10px;
}

.wap_title_m_c_svip1 {
    padding: 20px 20px 50px 20px;
}

.wap_title_m_c_svip2 {
    padding: 10px 10px 50px 10px;
}

.bao_b {
    margin-top: 30px;
}

.baomingInner2 {
    width: 90%;
    margin: 0px auto;
    color: #7B5035;
    font-size: 12px;
    padding-top: 20px;
    margin-bottom: 4px;
}

.baomingInner2 div {
    height: 35px;
    margin-bottom: 10px
}

/*搜索页面*/
.search_menu {
    height: 80px;
    border-top: 3px solid #fe4588;
    border-bottom: 1px solid #ccc;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 10px;
    background-color: #fff
}

.menu_xuan {
    float: left;
    height: 80px;
    line-height: 80px;
    margin-left: 15px;
}

#menu_xuan_btn {
    margin-left: 15px;
}

#menu_xuan_btn button {
    background-color: #f15481;
}

.search_bg {
    background: #F9F4F0;
}

#fenye {
    margin-right: 20px;
    padding-bottom: 20px;
}

.svip_tu {
    color: red;
    background-color: yellow;
    font-weight: bolder;
    margin-left: 3px;
}

