/*-----------------------------------------------分割线-----------------------------------------------------------*/
/*主体内容*/
.content {
    height: auto;
    width: 100%;
    min-width: 1280px;
    background-color: #fff;
    position: relative;
    float: left;
    padding-top: 10px;
}

.content_w {
    width: 1280px;
    height: auto;
    margin: 0px auto;
    padding: 0px;
}

.content_w_title {
    width: 1280px;
    height: 40px;
    margin: 0px auto;
    line-height: 40px;
    border-bottom: 3px solid #f15481;
}

.content_w_title span {
    padding-left: 15px;
    width: 130px;
    height: 30px;
    line-height: 30px;
    background-color: #f15481;
    display: inline-block;
    color: #fff
}

/*左部分文章*/
.content_zuo {
    width: 900px;
    float: left;
    margin: 0px;
    padding: 0px;
    height: auto
}

.wz_border {
    border-top: 2px solid #ededed;
    border-right: 2px solid #ededed;
    border-left: 2px solid #ededed;
}

.am-list > li {
    border: none;
    border-bottom: 3px dashed #f15481
}

.content_ms {
    height: 160px;
    width: 100%;
}

/*文章标题*/
.content_title {
    height: 40px;
    width: 100%;
    line-height: 40px;
    padding-left: 10px;
    background-color: #fff
}

/*缩略图*/
.content_ms_left {
    float: left;
    width: 260px;
    text-align: center;
    padding: 10px 15px 5px 15px;
}

.content_ms_left img {
    width: 200px;
}

/*文章描述*/
.content_ms_right {
    float: right;
    width: 630px;
    padding: 10px 15px 5px 0px;
}

.content_ms_right span {
    width: 500px;
}

.yd_btn {
    float: right;
    margin-right: 15px;
}

/*广告位*/
.content_you {
    width: 350px;
    background-color: red;
    float: right;
    height: 100%;
}

/*广告位*/
.gg_tu img {
    width: 350px;
}

/*-----------------------------------------------分割线-----------------------------------------------------------*/
.content_zuo_d {
    width: 900px;
    float: left;
    margin: 0px;
    padding: 0px;
    height: auto;
    min-height: 1000px;
    border: 2px solid #ededed;
    margin-bottom: 20px;
}

.wen_title {
    height: 40px;
    line-height: 40px;
    padding-left: 20px;
}

/*简介*/
.wen_jianjie {
    height: auto;
    border-bottom: 2px dashed #f15481;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.wen_jianjie span {
    padding-left: 20px;
    padding-right: 20px;
}