
/*报名部分+滚动图+集结号*/
#content{min-width: 1170px;height:auto;margin: 0px;padding: 0px;}
.content_tu{min-width: 1170px;height: 400px;}

/*报名*/
.c_left{width:20%;height:400px;float:left;padding-right: 10px;padding-left: 10px;}

/*滚动图*/
.c_modle{width:60%;height:400px;float:left;}

/*集结号*/
.c_right{width:20%; height:400px;float:right;padding-right: 10px;padding-left: 10px;}
#show_huodong img{width: 100%;height: auto}
